# Same database as LeadFlow
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=leadflow
DB_USERNAME=leadflow
DB_PASSWORD=leadflow_secret
DB_SSL=false

# Worker tuning
WORKER_CONCURRENCY=2
WORKER_POLL_MS=3000
WORKER_RETRY_DELAY_SEC=300
WORKER_STALE_LOCK_MIN=10
WORKER_HEADLESS=true
